code/TravelGoodTest/xml-resources/web-service-references/TravelGoodPort/wsdl/localhost_9080/TravelGoodService/TravelGoodPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelGood" targetNamespace="http://travelgoodbpel.ws" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://travelgoodbpel.ws" xmlns:ld="urn://types.lameduck.dtu.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bs="urn://types.fastmoney.imm.dtu.dk" xmlns:nv="urn://types.niceview.dtu.ws/">
  <types>
    <xsd:schema targetNamespace="http://travelgoodbpel.ws" xmlns:tns="http://travelgoodbpel.ws">
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>
            <xsd:import namespace="urn://types.lameduck.dtu.ws/" schemaLocation="http://localhost:8080/LameDuck/LameDuckService?xsd=1"/>
            <xsd:import namespace="urn://types.niceview.dtu.ws/" schemaLocation="http://localhost:8080/NiceView/NiceViewService?xsd=1"/>
            
            <xsd:simpleType name="itineraryID">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="flightBooking">
                <xsd:sequence>
                    <xsd:element name="flightInformation" type="ld:flightInformation"/>
                    <xsd:element name="status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flightBookings">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="flightBooking" type="tns:flightBooking"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelBooking">
                <xsd:sequence>
                    <xsd:element name="hotelBookingNo" type="nv:hotelBookingNo"/>
                    <xsd:element name="status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelBookings">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="hotelBooking" type="tns:hotelBooking"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </types>
  <message name="GetItineraryRequest">
    <part name="itineraryID" type="tns:itineraryID">
    </part>
  </message>
  <message name="GetItineraryResponse">
    <part name="flights" type="tns:flightBookings">
    </part>
    <part name="hotels" type="tns:hotelBookings">
    </part>
  </message>
  <message name="CancelPlanningResponse">
    <part name="status" type="xsd:string">
    </part>
  </message>
  <message name="GetFlightsResponse">
    <part name="flights" type="ld:flightList">
    </part>
  </message>
  <message name="CreateItineraryResponse">
    <part name="status" type="xsd:boolean">
    </part>
  </message>
  <message name="AddFlightResponse">
    <part name="status" type="xsd:boolean">
    </part>
  </message>
  <message name="GetHotelsRequest">
    <part name="itineraryID" type="tns:itineraryID">
    </part>
    <part name="city" type="xsd:string">
    </part>
    <part name="arrival" type="xsd:dateTime">
    </part>
    <part name="departure" type="xsd:dateTime">
    </part>
  </message>
  <message name="CancelPlanningRequest">
    <part name="itineraryID" type="tns:itineraryID">
    </part>
  </message>
  <message name="AddHotelRequest">
    <part name="itineraryID" type="tns:itineraryID">
    </part>
    <part name="hotelBookingNo" type="nv:hotelBookingNo">
    </part>
  </message>
  <message name="AddFlightRequest">
    <part name="itineraryID" type="tns:itineraryID">
    </part>
    <part name="flightInformation" type="ld:flightInformation">
    </part>
  </message>
  <message name="GetHotelsResponse">
    <part name="hotels" type="nv:hotelList">
    </part>
  </message>
  <message name="CreateItineraryRequest">
    <part name="itineraryID" type="tns:itineraryID">
    </part>
  </message>
  <message name="BookItineraryRequest">
    <part name="itineraryID" type="tns:itineraryID">
    </part>
    <part name="ccInformation" type="bs:creditCardInfoType">
    </part>
  </message>
  <message name="BookItineraryResponse">
    <part name="status" type="xsd:string">
    </part>
  </message>
  <message name="AddHotelResponse">
    <part name="status" type="xsd:string">
    </part>
  </message>
  <message name="GetFlightsRequest">
    <part name="itineraryID" type="tns:itineraryID">
    </part>
    <part name="origin" type="xsd:string">
    </part>
    <part name="destination" type="xsd:string">
    </part>
    <part name="datetime" type="xsd:dateTime">
    </part>
  </message>
  <portType name="TravelGoodPortType">
    <operation name="CreateItinerary">
      <input name="input1" message="tns:CreateItineraryRequest">
    </input>
      <output name="output1" message="tns:CreateItineraryResponse">
    </output>
    </operation>
    <operation name="AddFlight">
      <input name="input2" message="tns:AddFlightRequest">
    </input>
      <output name="output2" message="tns:AddFlightResponse">
    </output>
    </operation>
    <operation name="AddHotel">
      <input name="input3" message="tns:AddHotelRequest">
    </input>
      <output name="output3" message="tns:AddHotelResponse">
    </output>
    </operation>
    <operation name="GetItinerary">
      <input name="input4" message="tns:GetItineraryRequest">
    </input>
      <output name="output4" message="tns:GetItineraryResponse">
    </output>
    </operation>
    <operation name="CancelPlanning">
      <input name="input5" message="tns:CancelPlanningRequest">
    </input>
      <output name="output5" message="tns:CancelPlanningResponse">
    </output>
    </operation>
    <operation name="GetFlights">
      <input name="input6" message="tns:GetFlightsRequest">
    </input>
      <output name="output6" message="tns:GetFlightsResponse">
    </output>
    </operation>
    <operation name="GetHotels">
      <input name="input7" message="tns:GetHotelsRequest">
    </input>
      <output name="output7" message="tns:GetHotelsResponse">
    </output>
    </operation>
    <operation name="BookItinerary">
      <input name="input8" message="tns:BookItineraryRequest">
    </input>
      <output name="output8" message="tns:BookItineraryResponse">
    </output>
    </operation>
  </portType>
  <binding name="TravelGoodBinding" type="tns:TravelGoodPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CreateItinerary">
      <soap:operation/>
      <input name="input1">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </input>
      <output name="output1">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </output>
    </operation>
    <operation name="AddFlight">
      <soap:operation/>
      <input name="input2">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </input>
      <output name="output2">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </output>
    </operation>
    <operation name="AddHotel">
      <soap:operation/>
      <input name="input3">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </input>
      <output name="output3">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </output>
    </operation>
    <operation name="GetItinerary">
      <soap:operation/>
      <input name="input4">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </input>
      <output name="output4">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </output>
    </operation>
    <operation name="CancelPlanning">
      <soap:operation/>
      <input name="input5">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </input>
      <output name="output5">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </output>
    </operation>
    <operation name="GetFlights">
      <soap:operation/>
      <input name="input6">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </input>
      <output name="output6">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </output>
    </operation>
    <operation name="GetHotels">
      <soap:operation/>
      <input name="input7">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </input>
      <output name="output7">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </output>
    </operation>
    <operation name="BookItinerary">
      <soap:operation/>
      <input name="input8">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </input>
      <output name="output8">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </output>
    </operation>
  </binding>
  <service name="TravelGoodService">
    <port name="TravelGoodPort" binding="tns:TravelGoodBinding">
      <soap:address location="http://mktange-yoga:9080/TravelGoodService/TravelGoodPort"/>
    </port>
  </service>
    <plnk:partnerLinkType name="TravelGood">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
        In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
        A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelGoodPortTypeRole" portType="tns:TravelGoodPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="itineraryID" type="tns:itineraryID"/>
    <vprop:propertyAlias messageType="tns:CreateItineraryRequest" part="itineraryID" propertyName="tns:itineraryID"/>
    <vprop:propertyAlias messageType="tns:AddFlightRequest" part="itineraryID" propertyName="tns:itineraryID"/>
    <vprop:propertyAlias messageType="tns:AddHotelRequest" part="itineraryID" propertyName="tns:itineraryID"/>
    <vprop:propertyAlias messageType="tns:CancelPlanningRequest" part="itineraryID" propertyName="tns:itineraryID"/>
    <vprop:propertyAlias messageType="tns:GetItineraryRequest" part="itineraryID" propertyName="tns:itineraryID"/>
    <vprop:propertyAlias messageType="tns:GetFlightsRequest" part="itineraryID" propertyName="tns:itineraryID"/>
    <vprop:propertyAlias messageType="tns:GetHotelsRequest" part="itineraryID" propertyName="tns:itineraryID"/>
    <vprop:propertyAlias messageType="tns:BookItineraryRequest" part="itineraryID" propertyName="tns:itineraryID"/>
</definitions>
