code/TravelGoodBPEL/src/TravelGood.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelGood" targetNamespace="http://travelgoodbpel.ws"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:tns="http://travelgoodbpel.ws" 
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" 
             xmlns:bs="urn://types.fastmoney.imm.dtu.dk"
             xmlns:nv="urn://types.niceview.dtu.ws/"
             xmlns:ld="urn://types.lameduck.dtu.ws/">
    <types>
        <xsd:schema targetNamespace="http://travelgoodbpel.ws" xmlns:tns="http://travelgoodbpel.ws">
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>
            <xsd:import namespace="urn://types.lameduck.dtu.ws/" schemaLocation="http://localhost:8080/LameDuck/LameDuckService?xsd=1"/>
            <xsd:import namespace="urn://types.niceview.dtu.ws/" schemaLocation="http://localhost:8080/NiceView/NiceViewService?xsd=1"/>
            
            <xsd:simpleType name="itineraryID">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="customerID">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="flightBooking">
                <xsd:sequence>
                    <xsd:element name="flightInformation" type="ld:flightInformation"></xsd:element>
                    <xsd:element name="status" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flightBookings">
                <xsd:sequence>
                    <xsd:element name="flightBooking" type="tns:flightBooking" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelBooking">
                <xsd:sequence>
                    <xsd:element name="hotelBookingNo" type="nv:hotelBookingNo"></xsd:element>
                    <xsd:element name="status" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelBookings">
                <xsd:sequence>
                    <xsd:element name="hotelBooking" type="tns:hotelBooking" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="CreateItineraryRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
    </message>
    <message name="CreateItineraryResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <message name="AddFlightRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
        <part name="flightInformation" type="ld:flightInformation"/>
    </message>
    <message name="AddFlightResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <message name="AddHotelRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
        <part name="hotelBookingNo" type="nv:hotelBookingNo"/>
    </message>
    <message name="AddHotelResponse">
        <part name="status" type="xsd:string"/>
    </message>
    <message name="CancelPlanningRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
    </message>
    <message name="CancelPlanningResponse">
        <part name="status" type="xsd:string"/>
    </message>
    <message name="GetItineraryRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
    </message>
    <message name="GetItineraryResponse">
        <part name="flights" type="tns:flightBookings"/>
        <part name="hotels" type="tns:hotelBookings"/>
    </message>
    <message name="BookItineraryRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
        <part name="ccInformation" type="bs:creditCardInfoType"/>
    </message>
    <message name="BookItineraryResponse">
        <part name="success" type="xsd:boolean"/>
    </message>
    <message name="CancelItineraryRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
        <part name="ccInformation" type="bs:creditCardInfoType"/>
    </message>
    <message name="CancelItineraryResponse">
        <part name="success" type="xsd:boolean"/>
    </message>
    <message name="GetFlightsRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
        <part name="origin" type="xsd:string"/>
        <part name="destination" type="xsd:string"/>
        <part name="date" type="xsd:date"/>
    </message>
    <message name="GetFlightsResponse">
        <part name="flights" type="ld:flightList"/>
    </message>
    <message name="GetHotelsRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
        <part name="city" type="xsd:string"/>
        <part name="arrival" type="xsd:date"/>
        <part name="departure" type="xsd:date"/>
    </message>
    <message name="GetHotelsResponse">
        <part name="hotels" type="nv:hotelList"/>
    </message>
    <portType name="TravelGoodPortType">
        <operation name="CreateItinerary">
            <input name="input1" message="tns:CreateItineraryRequest"/>
            <output name="output1" message="tns:CreateItineraryResponse"/>
        </operation>
        <operation name="AddFlight">
            <input name="input2" message="tns:AddFlightRequest"/>
            <output name="output2" message="tns:AddFlightResponse"/>
        </operation>
        <operation name="AddHotel">
            <input name="input3" message="tns:AddHotelRequest"/>
            <output name="output3" message="tns:AddHotelResponse"/>
        </operation>
        <operation name="GetItinerary">
            <input name="input4" message="tns:GetItineraryRequest"/>
            <output name="output4" message="tns:GetItineraryResponse"/>
        </operation>
        <operation name="CancelPlanning">
            <input name="input5" message="tns:CancelPlanningRequest"/>
            <output name="output5" message="tns:CancelPlanningResponse"/>
        </operation>
        <operation name="GetFlights">
            <input name="input6" message="tns:GetFlightsRequest"/>
            <output name="output6" message="tns:GetFlightsResponse"/>
        </operation>
        <operation name="GetHotels">
            <input name="input7" message="tns:GetHotelsRequest"/>
            <output name="output7" message="tns:GetHotelsResponse"/>
        </operation>
        <operation name="BookItinerary">
            <input name="input8" message="tns:BookItineraryRequest"/>
            <output name="output8" message="tns:BookItineraryResponse"/>
        </operation>
        <operation name="CancelItinerary">
            <input name="input9" message="tns:CancelItineraryRequest"/>
            <output name="output9" message="tns:CancelItineraryResponse"/>
        </operation>
    </portType>
    <binding name="TravelGoodBinding" type="tns:TravelGoodPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateItinerary">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="AddFlight">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="AddHotel">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="GetItinerary">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output4">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="CancelPlanning">
            <soap:operation/>
            <input name="input5">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output5">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="GetFlights">
            <soap:operation/>
            <input name="input6">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output6">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="GetHotels">
            <soap:operation/>
            <input name="input7">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output7">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="BookItinerary">
            <soap:operation/>
            <input name="input8">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output8">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="CancelItinerary">
            <soap:operation/>
            <input name="input9">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output9">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
    </binding>
    <service name="TravelGoodService">
        <port name="TravelGoodPort" binding="tns:TravelGoodBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/TravelGoodService/TravelGoodPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="TravelGood">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
        In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
        A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelGoodPortTypeRole" portType="tns:TravelGoodPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="itineraryID" type="tns:itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:CreateItineraryRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:AddFlightRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:AddHotelRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:CancelPlanningRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:GetItineraryRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:GetFlightsRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:GetHotelsRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:BookItineraryRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:CancelItineraryRequest" part="itineraryID"/>
    <vprop:property name="customerID" type="tns:customerID"/>
    <vprop:propertyAlias propertyName="tns:customerID" messageType="tns:CreateItineraryRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:customerID" messageType="tns:AddFlightRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:customerID" messageType="tns:AddHotelRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:customerID" messageType="tns:CancelPlanningRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:customerID" messageType="tns:GetItineraryRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:customerID" messageType="tns:GetFlightsRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:customerID" messageType="tns:GetHotelsRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:customerID" messageType="tns:BookItineraryRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:customerID" messageType="tns:CancelItineraryRequest" part="customerID"/>
</definitions>
