code/TravelGoodBPEL/src/TravelGood.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelGood" targetNamespace="http://travelgoodbpel.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://travelgoodbpel.ws" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types>
        <xsd:schema targetNamespace="http://travelgoodbpel.ws" xmlns:tns="http://travelgoodbpel.ws">
            <xsd:simpleType name="itineraryID">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="flightID">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="flight">
                <xsd:sequence>
                    <xsd:element name="flightID" type="tns:flightID"></xsd:element>
                    <xsd:element name="departure" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="arrival" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="origin" type="xsd:string"></xsd:element>
                    <xsd:element name="destination" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flightBooking">
                <xsd:sequence>
                    <xsd:element name="flightID" type="tns:flightID"></xsd:element>
                    <xsd:element name="status" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flightBookings">
                <xsd:sequence>
                    <xsd:element name="flightBooking" type="tns:flightBooking" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="hotelID">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="hotelBooking">
                <xsd:sequence>
                    <xsd:element name="hotelID" type="tns:hotelID"></xsd:element>
                    <xsd:element name="status" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelBookings">
                <xsd:sequence>
                    <xsd:element name="hotelBooking" type="tns:hotelBooking" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="CreateItineraryRequest">
        <part name="itineraryID" type="tns:itineraryID"/>
    </message>
    <message name="CreateItineraryResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <message name="AddFlightRequest">
        <part name="itineraryID" type="tns:itineraryID"/>
        <part name="flightID" type="tns:flightID"/>
    </message>
    <message name="AddFlightResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <message name="AddHotelRequest">
        <part name="itineraryID" type="tns:itineraryID"/>
        <part name="hotelID" type="xsd:string"/>
    </message>
    <message name="AddHotelResponse">
        <part name="status" type="xsd:string"/>
    </message>
    <message name="CancelPlanningRequest">
        <part name="itineraryID" type="tns:itineraryID"/>
    </message>
    <message name="CancelPlanningResponse">
        <part name="status" type="xsd:string"/>
    </message>
    <message name="GetItineraryRequest">
        <part name="itineraryID" type="tns:itineraryID"/>
    </message>
    <message name="GetItineraryResponse">
        <part name="flights" type="tns:flightBookings"/>
        <part name="hotels" type="tns:hotelBookings"/>
    </message>
    <message name="GetFlightsRequest">
        <part name="itineraryID" type="tns:itineraryID"/>
        <part name="destination" type="xsd:string"/>
        <part name="datetime" type="xsd:dateTime"/>
    </message>
    <message name="GetFlightsResponse">
        <part name="flights" type="tns:flightBookings"/>
    </message>
    <message name="GetHotelsRequest">
        <part name="itineraryID" type="tns:itineraryID"/>
        <part name="destination" type="xsd:string"/>
        <part name="datetime" type="xsd:dateTime"/>
    </message>
    <message name="GetHotelsResponse">
        <part name="hotels" type="tns:hotelBookings"/>
    </message>
    <portType name="TravelGoodPortType">
        <operation name="CreateItinerary">
            <input name="input1" message="tns:CreateItineraryRequest"/>
            <output name="output1" message="tns:CreateItineraryResponse"/>
        </operation>
        <operation name="AddFlight">
            <input name="input2" message="tns:AddFlightRequest"/>
            <output name="output2" message="tns:AddFlightResponse"/>
        </operation>
        <operation name="AddHotel">
            <input name="input3" message="tns:AddHotelRequest"/>
            <output name="output3" message="tns:AddHotelResponse"/>
        </operation>
        <operation name="GetItinerary">
            <input name="input4" message="tns:GetItineraryRequest"/>
            <output name="output4" message="tns:GetItineraryResponse"/>
        </operation>
        <operation name="CancelPlanning">
            <input name="input5" message="tns:CancelPlanningRequest"/>
            <output name="output5" message="tns:CancelPlanningResponse"/>
        </operation>
        <operation name="GetFlights">
            <input name="input6" message="tns:GetItineraryRequest"/>
            <output name="output6" message="tns:GetItineraryResponse"/>
        </operation>
        <operation name="GetHotels">
            <input name="input7" message="tns:GetItineraryRequest"/>
            <output name="output7" message="tns:GetItineraryResponse"/>
        </operation>
    </portType>
    <binding name="TravelGoodBinding" type="tns:TravelGoodPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateItinerary">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="AddFlight">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="AddHotel">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="GetItinerary">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output4">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="CancelPlanning">
            <soap:operation/>
            <input name="input5">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output5">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="GetFlights">
            <soap:operation/>
            <input name="input6">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output6">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
        <operation name="GetHotels">
            <soap:operation/>
            <input name="input7">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </input>
            <output name="output7">
                <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
            </output>
        </operation>
    </binding>
    <service name="TravelGoodService">
        <port name="TravelGoodPort" binding="tns:TravelGoodBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/TravelGoodService/TravelGoodPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="TravelGood">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelGoodPortTypeRole" portType="tns:TravelGoodPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="itineraryID" type="tns:itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:CreateItineraryRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:AddFlightRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:AddHotelRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:CancelPlanningRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:GetItineraryRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:GetFlightsRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:GetHotelsRequest" part="itineraryID"/>
</definitions>
