code/TravelGoodBPELTest/xml-resources/web-service-references/TravelGoodPort/wsdl/localhost_8080/NiceView/NiceViewService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xs:schema xmlns:tns="urn://types.niceview.dtu.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="urn://types.niceview.dtu.ws/">

<xs:element name="fault" type="xs:string"/>

<xs:complexType name="hotelList">
<xs:sequence>
<xs:element name="hotels" type="tns:hotelInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotelInformation">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="address" type="tns:address"/>
<xs:element name="bookingNo" type="xs:string"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="ccRequired" type="xs:boolean"/>
<xs:element name="reservationService" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="city" type="xs:string"/>
<xs:element name="streetAddress" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>