Gammel Opgave/TravelGoodApp/src/jbiServiceUnits/TravelGood/planning.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="planning" targetNamespace="http://planning.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://planning.ws" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:ns0="urn://types.fastmoney.imm.dtu.dk">
    <types>
        <xsd:schema targetNamespace="http://planning.ws" xmlns:tns="http://planning.ws" xmlns:ns="urn://types.fastmoney.imm.dtu.dk">
            <xsd:import schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1" namespace="urn://types.fastmoney.imm.dtu.dk"></xsd:import>

            <xsd:complexType name="FlightInformation">
                <xsd:sequence maxOccurs="1" minOccurs="1">
                    <xsd:element name="bookingNumber" type="xsd:int"></xsd:element>
                    <xsd:element name="price" type="xsd:double"></xsd:element>
                    <xsd:element name="airlineReservationService" type="xsd:string"></xsd:element>
                    <xsd:element name="flight" type="tns:Flight"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Flight">
                <xsd:sequence>
                    <xsd:element name="startAirport" type="xsd:string"></xsd:element>
                    <xsd:element name="endAirport" type="xsd:string"></xsd:element>
                    <xsd:element name="liftOff" type="xsd:date"></xsd:element>
                    <xsd:element name="landing" type="xsd:date"></xsd:element>
                    <xsd:element name="carrier" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="creditCardInformation">
                <xsd:sequence>
                    <xsd:element name="holder" type="xsd:string"></xsd:element>
                    <xsd:element name="creditCardNumber" type="xsd:int"></xsd:element>
                    <xsd:element name="expirationDate" type="tns:expirationDateType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookFlightFaultMsg" type="xsd:string"></xsd:element>
            <xsd:element name="cancelFlightFaultMsg" type="xsd:string"></xsd:element>
            <xsd:complexType name="FlightInformations">
                <xsd:sequence>
                    <xsd:element name="flightInformation" type="tns:FlightInformation" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="expirationDateType">
                <xsd:sequence>
                    <xsd:element name="month" type="xsd:int"></xsd:element>
                    <xsd:element name="year" type="xsd:int"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="customerID">
                <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
            <xsd:simpleType name="itineraryID">
                <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
            <xsd:simpleType name="number">
                <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
            <xsd:complexType name="hotelType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="address" type="tns:addressType"></xsd:element>
                    <xsd:element name="pricePrNight" type="xsd:double"></xsd:element>
                    <xsd:element name="creditCardGuarantee" type="xsd:boolean"></xsd:element>
                    <xsd:element name="reservationService" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addressType">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"></xsd:element>
                    <xsd:element name="postalNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="country" type="xsd:string"></xsd:element>
                    <xsd:element name="street" type="xsd:string"></xsd:element>
                    <xsd:element name="streetNr" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="bookingType">
                <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element name="hotel" type="tns:hotelType"></xsd:element>
                    <xsd:element name="price" type="xsd:double"></xsd:element>
                    <xsd:element name="bookingNumber" type="xsd:int"></xsd:element>
                    <xsd:element name="startDate" type="xsd:date"></xsd:element>
                    <xsd:element name="endDate" type="xsd:date"></xsd:element>
                    <xsd:element name="booked" type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookingFault" type="xsd:string"></xsd:element>
            <xsd:element name="cancelingFault" type="xsd:string"></xsd:element>
            <xsd:complexType name="returnHotelList">
                <xsd:sequence>
                    <xsd:element name="hotels" type="tns:bookingType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelStatus">
                <xsd:sequence>
                    <xsd:element name="hotel" type="tns:bookingType"></xsd:element>
                    <xsd:element name="status" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listOfHotels">
                <xsd:sequence>
                    <xsd:element name="hotelStatus" type="tns:hotelStatus" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flightStatus">
                <xsd:sequence>
                    <xsd:element name="flightInformation" type="tns:FlightInformation"></xsd:element>
                    <xsd:element name="status" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listOfFlights">
                <xsd:sequence>
                    <xsd:element name="flightStatus" type="tns:flightStatus" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="createItineraryRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
    </message>
    <message name="createItineraryResponse">
        <part name="boolean" type="xsd:boolean"/>
    </message>
    <message name="addPlannedFlightRequest">
        <part name="flightInfo" type="tns:FlightInformation"/>
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
    </message>
    <message name="addPlannedFlightResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <message name="getAvailableFlightsRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
        <part name="startAirport" type="xsd:string"/>
        <part name="destinationAirport" type="xsd:string"/>
        <part name="date" type="xsd:date"/>
    </message>
    <message name="getAvailableFlightsResponse">
        <part name="flights" type="tns:FlightInformations"/>
    </message>
    <message name="bookAllRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
        <part name="creditCardInfo" type="ns0:creditCardInfoType"/>
    </message>
    <message name="bookAllResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <message name="addPlannedHotelRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
        <part name="hotel" type="tns:bookingType"/>
    </message>
    <message name="addHotelToPlanResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <message name="getHotelsRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="arivalDate" type="xsd:date"/>
        <part name="departureDate" type="xsd:date"/>
        <part name="city" type="xsd:string"/>
        <part name="itineraryID" type="tns:itineraryID"/>
    </message>
    <message name="getHotelsResponse">
        <part name="hotels" type="tns:returnHotelList"/>
    </message>
    <message name="cancelPlanningRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
    </message>
    <message name="cancelPlanningResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <message name="getItineraryRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
    </message>
    <message name="getItineraryResponse">
        <part name="listOfFlights" type="tns:listOfFlights"/>
        <part name="listOfHotels" type="tns:listOfHotels"/>
    </message>
    <message name="cancelBookingRequest">
        <part name="customerID" type="tns:customerID"/>
        <part name="itineraryID" type="tns:itineraryID"/>
    </message>
    <message name="cancelBookingResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <portType name="itineraryPortType">
        <operation name="createItinerary">
            <input name="input1" message="tns:createItineraryRequest"/>
            <output name="output1" message="tns:createItineraryResponse"/>
        </operation>
        <operation name="addPlannedFlight">
            <input name="input2" message="tns:addPlannedFlightRequest"/>
            <output name="output2" message="tns:addPlannedFlightResponse"/>
        </operation>
        <operation name="getAvailableFlights">
            <input name="input3" message="tns:getAvailableFlightsRequest"/>
            <output name="output3" message="tns:getAvailableFlightsResponse"/>
        </operation>
        <operation name="bookAll">
            <input name="input4" message="tns:bookAllRequest"/>
            <output name="output4" message="tns:bookAllResponse"/>
        </operation>
        <operation name="addPlannedHotel">
            <input name="input5" message="tns:addPlannedHotelRequest"/>
            <output name="output5" message="tns:addHotelToPlanResponse"/>
        </operation>
        <operation name="getAvailableHotels">
            <input name="input6" message="tns:getHotelsRequest"/>
            <output name="output6" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="cancelPlanningOperation">
            <input name="input7" message="tns:cancelPlanningRequest"/>
            <output name="output7" message="tns:cancelPlanningResponse"/>
        </operation>
        <operation name="getItinerary">
            <input name="input8" message="tns:getItineraryRequest"/>
            <output name="output8" message="tns:getItineraryResponse"/>
        </operation>
        <operation name="cancelBookingOperation">
            <input name="input9" message="tns:cancelBookingRequest"/>
            <output name="output9" message="tns:cancelBookingResponse"/>
        </operation>
    </portType>
    <binding name="itineraryBinding" type="tns:itineraryPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createItinerary">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </output>
        </operation>
        <operation name="addPlannedFlight">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </output>
        </operation>
        <operation name="getAvailableFlights">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </output>

        </operation>
        <operation name="bookAll">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </input>
            <output name="output4">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </output>
        </operation>

        <operation name="cancelPlanningOperation">
            <soap:operation/>
            <input name="input7">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </input>
            <output name="output7">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </output>
        </operation>

        <operation name="addPlannedHotel">
            <soap:operation/>
            <input name="input5">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </input>
            <output name="output5">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </output>
        </operation>

                <operation name="getAvailableHotels">
            <soap:operation/>
            <input name="input6">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </input>
            <output name="output6">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </output>
        </operation>
        <operation name="getItinerary">
            <soap:operation/>
            <input name="input8">
                 <soap:body use="literal" namespace="http://planning.ws"/>
            </input>
            <output name="output8">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </output>
        </operation>
        <operation name="cancelBookingOperation">
            <soap:operation/>
            <input name="input9">
                 <soap:body use="literal" namespace="http://planning.ws"/>
            </input>
            <output name="output9">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </output>
        </operation>
    </binding>
    <service name="itineraryService">
        <port name="itineraryPort" binding="tns:itineraryBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/planningService/planningPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="itinerary">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes.
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="itineraryPortTypeRole" portType="tns:itineraryPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="ItineraryID" type="tns:itineraryID"/>
    <vprop:propertyAlias propertyName="tns:ItineraryID" messageType="tns:createItineraryRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:ItineraryID" messageType="tns:addPlannedFlightRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:ItineraryID" messageType="tns:bookAllRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:ItineraryID" messageType="tns:getAvailableFlightsRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:ItineraryID" messageType="tns:getHotelsRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:ItineraryID" messageType="tns:addPlannedHotelRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:ItineraryID" messageType="tns:cancelPlanningRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:ItineraryID" messageType="tns:getItineraryRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:ItineraryID" messageType="tns:cancelBookingRequest" part="itineraryID"/>
    <vprop:property name="CustomerID" type="tns:customerID"/>
    <vprop:propertyAlias propertyName="tns:CustomerID" messageType="tns:createItineraryRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:CustomerID" messageType="tns:addPlannedFlightRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:CustomerID" messageType="tns:bookAllRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:CustomerID" messageType="tns:getAvailableFlightsRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:CustomerID" messageType="tns:getHotelsRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:CustomerID" messageType="tns:addPlannedHotelRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:CustomerID" messageType="tns:cancelPlanningRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:CustomerID" messageType="tns:getItineraryRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:CustomerID" messageType="tns:cancelBookingRequest" part="customerID"/>
</definitions>
























