code/TravelGoodTest/src/META-INF/wsdl/localhost_9080/TravelGoodService/TravelGoodPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelGood" targetNamespace="http://travelgoodbpel.ws" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://travelgoodbpel.ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="http://travelgoodbpel.ws" xmlns:tns="http://travelgoodbpel.ws">
            <xsd:simpleType name="itineraryID">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="flightID">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="flight">
                <xsd:sequence>
                    <xsd:element name="flightID" type="tns:flightID"/>
                    <xsd:element name="departure" type="xsd:dateTime"/>
                    <xsd:element name="arrival" type="xsd:dateTime"/>
                    <xsd:element name="origin" type="xsd:string"/>
                    <xsd:element name="destination" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flightBooking">
                <xsd:sequence>
                    <xsd:element name="flightID" type="tns:flightID"/>
                    <xsd:element name="status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flightBookings">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="flightBooking" type="tns:flightBooking"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </types>
  <message name="GetItineraryRequest">
    <part name="itineraryID" type="tns:itineraryID">
    </part>
  </message>
  <message name="GetItineraryResponse">
    <part name="flights" type="tns:flightBookings">
    </part>
  </message>
  <message name="AddFlightRequest">
    <part name="itineraryID" type="tns:itineraryID">
    </part>
    <part name="flightID" type="tns:flightID">
    </part>
  </message>
  <message name="CreateItineraryRequest">
    <part name="itineraryID" type="tns:itineraryID">
    </part>
  </message>
  <message name="AddFlightResponse">
    <part name="status" type="xsd:boolean">
    </part>
  </message>
  <message name="CreateItineraryResponse">
    <part name="status" type="xsd:boolean">
    </part>
  </message>
  <message name="AddHotelResponse">
    <part name="status" type="xsd:string">
    </part>
  </message>
  <message name="AddHotelRequest">
    <part name="hotelID" type="xsd:string">
    </part>
  </message>
  <portType name="TravelGoodPortType">
    <operation name="CreateItinerary">
      <input name="input1" message="tns:CreateItineraryRequest">
    </input>
      <output name="output1" message="tns:CreateItineraryResponse">
    </output>
    </operation>
    <operation name="AddFlight">
      <input name="input2" message="tns:AddFlightRequest">
    </input>
      <output name="output2" message="tns:AddFlightResponse">
    </output>
    </operation>
    <operation name="AddHotel">
      <input name="input3" message="tns:AddHotelRequest">
    </input>
      <output name="output3" message="tns:AddHotelResponse">
    </output>
    </operation>
    <operation name="GetItinerary">
      <input name="input4" message="tns:GetItineraryRequest">
    </input>
      <output name="output4" message="tns:GetItineraryResponse">
    </output>
    </operation>
  </portType>
  <binding name="TravelGoodBinding" type="tns:TravelGoodPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CreateItinerary">
      <soap:operation/>
      <input name="input1">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </input>
      <output name="output1">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </output>
    </operation>
    <operation name="AddFlight">
      <soap:operation/>
      <input name="input2">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </input>
      <output name="output2">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </output>
    </operation>
    <operation name="AddHotel">
      <soap:operation/>
      <input name="input3">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </input>
      <output name="output3">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </output>
    </operation>
    <operation name="GetItinerary">
      <soap:operation/>
      <input name="input4">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </input>
      <output name="output4">
        <soap:body use="literal" namespace="http://travelgoodbpel.ws"/>
      </output>
    </operation>
  </binding>
  <service name="TravelGoodService">
    <port name="TravelGoodPort" binding="tns:TravelGoodBinding">
      <soap:address location="http://mktange-yoga:9080/TravelGoodService/TravelGoodPort"/>
    </port>
  </service>
    <plnk:partnerLinkType name="TravelGood">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelGoodPortTypeRole" portType="tns:TravelGoodPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="itineraryID" type="tns:itineraryID"/>
    <vprop:propertyAlias messageType="tns:CreateItineraryRequest" part="itineraryID" propertyName="tns:itineraryID"/>
    <vprop:propertyAlias messageType="tns:AddFlightRequest" part="itineraryID" propertyName="tns:itineraryID"/>
    <vprop:propertyAlias messageType="tns:GetItineraryRequest" part="itineraryID" propertyName="tns:itineraryID"/>
</definitions>
