code/TravelGoodREST/web/WEB-INF/wsdl/localhost_8080/LameDuck/LameDuckService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://lameduck.dtu.ws" xmlns:ns0="urn://types.lameduck.dtu.ws/" xmlns:bs="urn://types.fastmoney.imm.dtu.dk" name="LameDuck" targetNamespace="http://lameduck.dtu.ws">
    <types>
        <xsd:schema xmlns:tns="http://lameduck.dtu.ws/" targetNamespace="http://lameduck.dtu.ws/">          
            <xsd:import namespace="urn://types.lameduck.dtu.ws/" schemaLocation="http://localhost:8080/LameDuck/LameDuckService?xsd=1"/>
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getFlightsRequest">
        <part name="origin" type="xsd:string"/>
        <part name="destination" type="xsd:string"/>
        <part name="liftOff" type="xsd:date"/>
    </message>
    <message name="getFlightsResponse">
        <part name="flights" type="ns0:FlightList"/>
    </message>
    <message name="bookFlightRequest">
        <part name="bookingNumber" type="xsd:string"/>
        <part name="creditCardInfo" type="bs:creditCardInfoType"/>
    </message>
    <message name="bookFlightResponse">
        <part name="result" type="xsd:boolean"/>
    </message>
    <message name="bookFlightFault">
        <part name="BookFlightFault" element="ns0:BookFault"/>
    </message>
    <message name="cancelFlightRequest">
        <part name="bookingNumber" type="xsd:string"/>
        <part name="creditCardInfo" type="bs:creditCardInfoType"/>
        <part name="price" type="xsd:int"/>
    </message>
    <message name="cancelFlightResponse">
        <part name="result" type="xsd:boolean"/>
    </message>
    <message name="cancelFlightFault">
        <part name="CancelFlightFault" element="ns0:CancelFault"/>
    </message>
    
    <portType name="LameDuckPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:getFlightsRequest"/>
            <output name="output1" message="tns:getFlightsResponse"/>
        </operation>
        <operation name="bookFlight">
            <input name="input2" message="tns:bookFlightRequest"/>
            <output name="output2" message="tns:bookFlightResponse"/>
            <fault name="fault1" message="tns:bookFlightFault"/>
        </operation>
        <operation name="cancelFlight">
            <input name="input3" message="tns:cancelFlightRequest"/>
            <output name="output3" message="tns:cancelFlightResponse"/>
            <fault name="fault2" message="tns:cancelFlightFault"/>
        </operation>
    </portType>
</definitions>