NiceView/src/conf/xml-resources/web-services/NiceView/wsdl/NiceView.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NiceView" targetNamespace="http://niceview.dtu.ws/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://niceview.dtu.ws/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="urn://types.fastmoney.imm.dtu.dk">
    <types>
        <xsd:schema targetNamespace="http://niceview.dtu.ws/" xmlns:tns="http://niceview.dtu.ws/">
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>
            <xsd:complexType name="hotelInformation">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="address" type="tns:address"></xsd:element>
                    <xsd:element name="bookingNo" type="xsd:string"></xsd:element>
                    <xsd:element name="price" type="xsd:double"></xsd:element>
                    <xsd:element name="ccRequired" type="xsd:boolean"></xsd:element>
                    <xsd:element name="reservationService" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="address">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"></xsd:element>
                    <xsd:element name="streetAddress" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelList">
                <xsd:sequence>
                    <xsd:element name="hotels" type="tns:hotelInformation" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="fault" type="xsd:string"></xsd:element>
        </xsd:schema>
    </types>
    <message name="GetHotelsRequest">
        <part name="city" type="xsd:string"/>
        <part name="arrival" type="xsd:dateTime"/>
        <part name="departure" type="xsd:dateTime"/>
    </message>
    <message name="GetHotelsResponse">
        <part name="hotels" type="tns:hotelList"/>
    </message>
    <message name="BookHotelRequest">
        <part name="bookingNo" type="xsd:string"/>
        <part name="ccInformation" type="ns0:creditCardInfoType"/>
    </message>
    <message name="BookHotelResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <message name="BookHotelFault">
        <part name="fault" element="tns:fault"/>
    </message>
    <message name="CancelHotelRequest">
        <part name="bookingNo" type="xsd:string"/>
    </message>
    <message name="CancelHotelResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <message name="CancelHotelFault">
        <part name="fault" element="tns:fault"/>
    </message>
    <portType name="NiceViewPortType">
        <operation name="GetHotels">
            <input name="input1" message="tns:GetHotelsRequest"/>
            <output name="output1" message="tns:GetHotelsResponse"/>
        </operation>
        <operation name="BookHotel">
            <input name="input2" message="tns:BookHotelRequest"/>
            <output name="output2" message="tns:BookHotelResponse"/>
            <fault name="fault2" message="tns:BookHotelFault"/>
        </operation>
        <operation name="CancelHotel">
            <input name="input3" message="tns:CancelHotelRequest"/>
            <output name="output3" message="tns:CancelHotelResponse"/>
            <fault name="fault3" message="tns:CancelHotelFault"/>
        </operation>
    </portType>
    <binding name="NiceViewBinding" type="tns:NiceViewPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetHotels">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://niceview.dtu.ws/"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://niceview.dtu.ws/"/>
            </output>
        </operation>
        <operation name="BookHotel">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://niceview.dtu.ws/"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://niceview.dtu.ws/"/>
            </output>
            <fault name="fault2">
                <soap:fault name="fault2"/>
            </fault>
        </operation>
        <operation name="CancelHotel">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="http://niceview.dtu.ws/"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://niceview.dtu.ws/"/>
            </output>
            <fault name="fault3">
                <soap:fault name="fault3"/>
            </fault>
        </operation>
    </binding>
    <service name="NiceViewService">
        <port name="NiceViewPort" binding="tns:NiceViewBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/NiceViewService/NiceViewPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="NiceView">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="NiceViewPortTypeRole" portType="tns:NiceViewPortType"/>
    </plnk:partnerLinkType>
</definitions>
