Gammel Opgave/TravelGoodTest/src/META-INF/wsdl/localhost_9080/planningService/planningPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="planning" targetNamespace="http://planning.ws" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://planning.ws" xmlns:ns0="urn://types.fastmoney.imm.dtu.dk" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="http://planning.ws" xmlns:ns="urn://types.fastmoney.imm.dtu.dk" xmlns:tns="http://planning.ws">
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>

            <xsd:complexType name="FlightInformation">
                <xsd:sequence maxOccurs="1" minOccurs="1">
                    <xsd:element name="bookingNumber" type="xsd:int"/>
                    <xsd:element name="price" type="xsd:double"/>
                    <xsd:element name="airlineReservationService" type="xsd:string"/>
                    <xsd:element name="flight" type="tns:Flight"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Flight">
                <xsd:sequence>
                    <xsd:element name="startAirport" type="xsd:string"/>
                    <xsd:element name="endAirport" type="xsd:string"/>
                    <xsd:element name="liftOff" type="xsd:date"/>
                    <xsd:element name="landing" type="xsd:date"/>
                    <xsd:element name="carrier" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="creditCardInformation">
                <xsd:sequence>
                    <xsd:element name="holder" type="xsd:string"/>
                    <xsd:element name="creditCardNumber" type="xsd:int"/>
                    <xsd:element name="expirationDate" type="tns:expirationDateType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookFlightFaultMsg" type="xsd:string"/>
            <xsd:element name="cancelFlightFaultMsg" type="xsd:string"/>
            <xsd:complexType name="FlightInformations">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="flightInformation" type="tns:FlightInformation"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="expirationDateType">
                <xsd:sequence>
                    <xsd:element name="month" type="xsd:int"/>
                    <xsd:element name="year" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="customerID">
                <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
            <xsd:simpleType name="itineraryID">
                <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
            <xsd:simpleType name="number">
                <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
            <xsd:complexType name="hotelType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="address" type="tns:addressType"/>
                    <xsd:element name="pricePrNight" type="xsd:double"/>
                    <xsd:element name="creditCardGuarantee" type="xsd:boolean"/>
                    <xsd:element name="reservationService" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="addressType">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="postalNumber" type="xsd:string"/>
                    <xsd:element name="country" type="xsd:string"/>
                    <xsd:element name="street" type="xsd:string"/>
                    <xsd:element name="streetNr" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="bookingType">
                <xsd:sequence maxOccurs="1" minOccurs="1">
                    <xsd:element name="hotel" type="tns:hotelType"/>
                    <xsd:element name="price" type="xsd:double"/>
                    <xsd:element name="bookingNumber" type="xsd:int"/>
                    <xsd:element name="startDate" type="xsd:date"/>
                    <xsd:element name="endDate" type="xsd:date"/>
                    <xsd:element name="booked" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookingFault" type="xsd:string"/>
            <xsd:element name="cancelingFault" type="xsd:string"/>
            <xsd:complexType name="returnHotelList">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="hotels" type="tns:bookingType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelStatus">
                <xsd:sequence>
                    <xsd:element name="hotel" type="tns:bookingType"/>
                    <xsd:element name="status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listOfHotels">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="hotelStatus" type="tns:hotelStatus"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flightStatus">
                <xsd:sequence>
                    <xsd:element name="flightInformation" type="tns:FlightInformation"/>
                    <xsd:element name="status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listOfFlights">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="flightStatus" type="tns:flightStatus"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </types>
  <message name="getItineraryRequest">
    <part name="customerID" type="tns:customerID">
    </part>
    <part name="itineraryID" type="tns:itineraryID">
    </part>
  </message>
  <message name="cancelBookingResponse">
    <part name="status" type="xsd:boolean">
    </part>
  </message>
  <message name="getAvailableFlightsResponse">
    <part name="flights" type="tns:FlightInformations">
    </part>
  </message>
  <message name="getHotelsResponse">
    <part name="hotels" type="tns:returnHotelList">
    </part>
  </message>
  <message name="cancelPlanningResponse">
    <part name="status" type="xsd:boolean">
    </part>
  </message>
  <message name="addPlannedHotelRequest">
    <part name="customerID" type="tns:customerID">
    </part>
    <part name="itineraryID" type="tns:itineraryID">
    </part>
    <part name="hotel" type="tns:bookingType">
    </part>
  </message>
  <message name="cancelBookingRequest">
    <part name="customerID" type="tns:customerID">
    </part>
    <part name="itineraryID" type="tns:itineraryID">
    </part>
  </message>
  <message name="createItineraryRequest">
    <part name="customerID" type="tns:customerID">
    </part>
    <part name="itineraryID" type="tns:itineraryID">
    </part>
  </message>
  <message name="bookAllResponse">
    <part name="status" type="xsd:boolean">
    </part>
  </message>
  <message name="addHotelToPlanResponse">
    <part name="status" type="xsd:boolean">
    </part>
  </message>
  <message name="bookAllRequest">
    <part name="customerID" type="tns:customerID">
    </part>
    <part name="itineraryID" type="tns:itineraryID">
    </part>
    <part name="creditCardInfo" type="ns0:creditCardInfoType">
    </part>
  </message>
  <message name="addPlannedFlightRequest">
    <part name="flightInfo" type="tns:FlightInformation">
    </part>
    <part name="customerID" type="tns:customerID">
    </part>
    <part name="itineraryID" type="tns:itineraryID">
    </part>
  </message>
  <message name="getAvailableFlightsRequest">
    <part name="customerID" type="tns:customerID">
    </part>
    <part name="itineraryID" type="tns:itineraryID">
    </part>
    <part name="startAirport" type="xsd:string">
    </part>
    <part name="destinationAirport" type="xsd:string">
    </part>
    <part name="date" type="xsd:date">
    </part>
  </message>
  <message name="addPlannedFlightResponse">
    <part name="status" type="xsd:boolean">
    </part>
  </message>
  <message name="getItineraryResponse">
    <part name="listOfFlights" type="tns:listOfFlights">
    </part>
    <part name="listOfHotels" type="tns:listOfHotels">
    </part>
  </message>
  <message name="createItineraryResponse">
    <part name="boolean" type="xsd:boolean">
    </part>
  </message>
  <message name="getHotelsRequest">
    <part name="customerID" type="tns:customerID">
    </part>
    <part name="arivalDate" type="xsd:date">
    </part>
    <part name="departureDate" type="xsd:date">
    </part>
    <part name="city" type="xsd:string">
    </part>
    <part name="itineraryID" type="tns:itineraryID">
    </part>
  </message>
  <message name="cancelPlanningRequest">
    <part name="customerID" type="tns:customerID">
    </part>
    <part name="itineraryID" type="tns:itineraryID">
    </part>
  </message>
  <portType name="itineraryPortType">
    <operation name="createItinerary">
      <input name="input1" message="tns:createItineraryRequest">
    </input>
      <output name="output1" message="tns:createItineraryResponse">
    </output>
    </operation>
    <operation name="addPlannedFlight">
      <input name="input2" message="tns:addPlannedFlightRequest">
    </input>
      <output name="output2" message="tns:addPlannedFlightResponse">
    </output>
    </operation>
    <operation name="getAvailableFlights">
      <input name="input3" message="tns:getAvailableFlightsRequest">
    </input>
      <output name="output3" message="tns:getAvailableFlightsResponse">
    </output>
    </operation>
    <operation name="bookAll">
      <input name="input4" message="tns:bookAllRequest">
    </input>
      <output name="output4" message="tns:bookAllResponse">
    </output>
    </operation>
    <operation name="addPlannedHotel">
      <input name="input5" message="tns:addPlannedHotelRequest">
    </input>
      <output name="output5" message="tns:addHotelToPlanResponse">
    </output>
    </operation>
    <operation name="getAvailableHotels">
      <input name="input6" message="tns:getHotelsRequest">
    </input>
      <output name="output6" message="tns:getHotelsResponse">
    </output>
    </operation>
    <operation name="cancelPlanningOperation">
      <input name="input7" message="tns:cancelPlanningRequest">
    </input>
      <output name="output7" message="tns:cancelPlanningResponse">
    </output>
    </operation>
    <operation name="getItinerary">
      <input name="input8" message="tns:getItineraryRequest">
    </input>
      <output name="output8" message="tns:getItineraryResponse">
    </output>
    </operation>
    <operation name="cancelBookingOperation">
      <input name="input9" message="tns:cancelBookingRequest">
    </input>
      <output name="output9" message="tns:cancelBookingResponse">
    </output>
    </operation>
  </portType>
  <binding name="itineraryBinding" type="tns:itineraryPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createItinerary">
      <soap:operation/>
      <input name="input1">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </input>
      <output name="output1">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </output>
    </operation>
    <operation name="addPlannedFlight">
      <soap:operation/>
      <input name="input2">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </input>
      <output name="output2">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </output>
    </operation>
    <operation name="getAvailableFlights">
      <soap:operation/>
      <input name="input3">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </input>
      <output name="output3">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </output>
    </operation>
    <operation name="bookAll">
      <soap:operation/>
      <input name="input4">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </input>
      <output name="output4">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </output>
    </operation>
    <operation name="cancelPlanningOperation">
      <soap:operation/>
      <input name="input7">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </input>
      <output name="output7">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </output>
    </operation>
    <operation name="addPlannedHotel">
      <soap:operation/>
      <input name="input5">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </input>
      <output name="output5">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </output>
    </operation>
    <operation name="getAvailableHotels">
      <soap:operation/>
      <input name="input6">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </input>
      <output name="output6">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </output>
    </operation>
    <operation name="getItinerary">
      <soap:operation/>
      <input name="input8">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </input>
      <output name="output8">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </output>
    </operation>
    <operation name="cancelBookingOperation">
      <soap:operation/>
      <input name="input9">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </input>
      <output name="output9">
        <soap:body use="literal" namespace="http://planning.ws"/>
      </output>
    </operation>
  </binding>
  <service name="itineraryService">
    <port name="itineraryPort" binding="tns:itineraryBinding">
      <soap:address location="http://10.16.130.135:9080/planningService/planningPort"/>
    </port>
  </service>
    <plnk:partnerLinkType name="itinerary">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes.
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="itineraryPortTypeRole" portType="tns:itineraryPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="ItineraryID" type="tns:itineraryID"/>
    <vprop:propertyAlias messageType="tns:createItineraryRequest" part="itineraryID" propertyName="tns:ItineraryID"/>
    <vprop:propertyAlias messageType="tns:addPlannedFlightRequest" part="itineraryID" propertyName="tns:ItineraryID"/>
    <vprop:propertyAlias messageType="tns:bookAllRequest" part="itineraryID" propertyName="tns:ItineraryID"/>
    <vprop:propertyAlias messageType="tns:getAvailableFlightsRequest" part="itineraryID" propertyName="tns:ItineraryID"/>
    <vprop:propertyAlias messageType="tns:getHotelsRequest" part="itineraryID" propertyName="tns:ItineraryID"/>
    <vprop:propertyAlias messageType="tns:addPlannedHotelRequest" part="itineraryID" propertyName="tns:ItineraryID"/>
    <vprop:propertyAlias messageType="tns:cancelPlanningRequest" part="itineraryID" propertyName="tns:ItineraryID"/>
    <vprop:propertyAlias messageType="tns:getItineraryRequest" part="itineraryID" propertyName="tns:ItineraryID"/>
    <vprop:propertyAlias messageType="tns:cancelBookingRequest" part="itineraryID" propertyName="tns:ItineraryID"/>
    <vprop:property name="CustomerID" type="tns:customerID"/>
    <vprop:propertyAlias messageType="tns:createItineraryRequest" part="customerID" propertyName="tns:CustomerID"/>
    <vprop:propertyAlias messageType="tns:addPlannedFlightRequest" part="customerID" propertyName="tns:CustomerID"/>
    <vprop:propertyAlias messageType="tns:bookAllRequest" part="customerID" propertyName="tns:CustomerID"/>
    <vprop:propertyAlias messageType="tns:getAvailableFlightsRequest" part="customerID" propertyName="tns:CustomerID"/>
    <vprop:propertyAlias messageType="tns:getHotelsRequest" part="customerID" propertyName="tns:CustomerID"/>
    <vprop:propertyAlias messageType="tns:addPlannedHotelRequest" part="customerID" propertyName="tns:CustomerID"/>
    <vprop:propertyAlias messageType="tns:cancelPlanningRequest" part="customerID" propertyName="tns:CustomerID"/>
    <vprop:propertyAlias messageType="tns:getItineraryRequest" part="customerID" propertyName="tns:CustomerID"/>
    <vprop:propertyAlias messageType="tns:cancelBookingRequest" part="customerID" propertyName="tns:CustomerID"/>
</definitions>
