code/Deprecated/LameDuckInc/src/java/LameDuck.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="LameDuck" targetNamespace="http://lameduck.dtu.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://lameduck.dtu.ws" 
    xmlns:ns0="urn://types.lameduck.dtu.ws/"
    xmlns:bs="urn://types.fastmoney.imm.dtu.dk">
    <types>
        <xsd:schema targetNamespace="http://lameduck.dtu.ws/" xmlns:tns="http://lameduck.dtu.ws/">          
            <xsd:import namespace="urn://types.lameduck.dtu.ws/" schemaLocation="LameDuck.xsd"/>
            <xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getFlightsRequest">
        <part name="origin" type="xsd:string"/>
        <part name="destination" type="xsd:string"/>
        <part name="liftOff" type="xsd:date"/>
    </message>
    <message name="getFlightsResponse">
        <part name="flights" type="ns0:FlightList"/>
    </message>
    <message name="bookFlightRequest">
        <part name="bookingNumber" type="xsd:string"/>
        <part name="creditCardInfo" type="bs:creditCardInfoType"/>
    </message>
    <message name="bookFlightResponse">
        <part name="result" type="xsd:boolean"/>
    </message>
    <message name="bookFlightFault">
        <part name="BookFlightFault" element="ns0:BookFault"/>
    </message>
    
    <portType name="LameDuckPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:getFlightsRequest"/>
            <output name="output1" message="tns:getFlightsResponse"/>
        </operation>
        <operation name="bookFlight">
            <input name="input2" message="tns:bookFlightRequest"/>
            <output name="output2" message="tns:bookFlightResponse"/>
            <fault name="fault1" message="tns:bookFlightFault"/>
        </operation>
    </portType>
</definitions>
