code/TestDatesTest/src/META-INF/wsdl/localhost_8080/TestDates/TestDatesService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://testdates.ws/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TestDates" targetNamespace="http://testdates.ws/">
    <types>
        <xsd:schema xmlns:tns="http://testdates.ws/" targetNamespace="http://testdates.ws/">
            <xsd:complexType name="TestComplexType">
                <xsd:sequence>
                    <xsd:element name="stringElement" type="xsd:string"/>
                    <xsd:element name="dateElement" type="xsd:date"/>
                    <xsd:element name="datetimeElement" type="xsd:dateTime"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="TestDatesOperationRequest">
        <part name="dateIn" type="tns:TestComplexType"/>
    </message>
    <message name="TestDatesOperationResponse">
        <part name="dateOut" type="tns:TestComplexType"/>
    </message>
    <portType name="TestDatesPortType">
        <operation name="TestDatesOperation">
            <input name="input1" message="tns:TestDatesOperationRequest"/>
            <output name="output1" message="tns:TestDatesOperationResponse"/>
        </operation>
    </portType>
    <binding name="TestDatesBinding" type="tns:TestDatesPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TestDatesOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://testdates.ws/"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://testdates.ws/"/>
            </output>
        </operation>
    </binding>
    <service name="TestDatesService">
        <port name="TestDatesPort" binding="tns:TestDatesBinding">
            <soap:address location="http://localhost:8080/TestDates/TestDatesService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="TestDates">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TestDatesPortTypeRole" portType="tns:TestDatesPortType"/>
    </plnk:partnerLinkType>
</definitions>