TravelAgencyREST/web/WEB-INF/wsdl/localhost_8080/LameDuck/LameDuckService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lameduck.dtu.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lameduck.dtu.ws/" name="LameDuckService">
<types>
<xsd:schema>
<xsd:import namespace="http://lameduck.dtu.ws/" schemaLocation="http://localhost:8080/LameDuck/LameDuckService?xsd=1"/>
</xsd:schema>
</types>
<message name="getFlights">
<part name="parameters" element="tns:getFlights"/>
</message>
<message name="getFlightsResponse">
<part name="parameters" element="tns:getFlightsResponse"/>
</message>
<message name="bookFlight">
<part name="parameters" element="tns:bookFlight"/>
</message>
<message name="bookFlightResponse">
<part name="parameters" element="tns:bookFlightResponse"/>
</message>
<message name="cancelFlight">
<part name="parameters" element="tns:cancelFlight"/>
</message>
<message name="cancelFlightResponse">
<part name="parameters" element="tns:cancelFlightResponse"/>
</message>
<portType name="LameDuckService">
<operation name="getFlights">
<input wsam:Action="http://lameduck.dtu.ws/LameDuckService/getFlightsRequest" message="tns:getFlights"/>
<output wsam:Action="http://lameduck.dtu.ws/LameDuckService/getFlightsResponse" message="tns:getFlightsResponse"/>
</operation>
<operation name="bookFlight">
<input wsam:Action="http://lameduck.dtu.ws/LameDuckService/bookFlightRequest" message="tns:bookFlight"/>
<output wsam:Action="http://lameduck.dtu.ws/LameDuckService/bookFlightResponse" message="tns:bookFlightResponse"/>
</operation>
<operation name="cancelFlight">
<input wsam:Action="http://lameduck.dtu.ws/LameDuckService/cancelFlightRequest" message="tns:cancelFlight"/>
<output wsam:Action="http://lameduck.dtu.ws/LameDuckService/cancelFlightResponse" message="tns:cancelFlightResponse"/>
</operation>
</portType>
<binding name="LameDuckServicePortBinding" type="tns:LameDuckService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LameDuckService">
<port name="LameDuckServicePort" binding="tns:LameDuckServicePortBinding">
<soap:address location="http://localhost:8080/LameDuck/LameDuckService"/>
</port>
</service>
</definitions>