code/JavaApplication11/xml-resources/web-service-references/DateTestService/wsdl/localhost_8080/WebApplication1/DateTestService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/WebApplication1/java/newWSDL" name="DateTest" targetNamespace="http://j2ee.netbeans.org/wsdl/WebApplication1/java/newWSDL">
    <types>
        <xsd:schema xmlns:tns="http://j2ee.netbeans.org/wsdl/WebApplication1/java/newWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/WebApplication1/java/newWSDL">
            <xsd:complexType name="MyComplexType">
                <xsd:sequence>
                    <xsd:element name="MyDate" type="xsd:date"/>
                    <xsd:element name="myString" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="DateTestOperationRequest">
		
    </message>
    <message name="DateTestOperationResponse">
        <part name="part1" type="tns:MyComplexType"/>
    </message>
    <portType name="DateTestPortType">
        <operation name="MyOperation">
            <input name="input1" message="tns:DateTestOperationRequest"/>
            <output name="output1" message="tns:DateTestOperationResponse"/>
        </operation>
    </portType>
</definitions>