Gammel Opgave/TravelGoodTest/src/META-INF/wsdl/planning.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="planning" targetNamespace="http://planning.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://planning.ws" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types>
        <xsd:schema targetNamespace="http://planning.ws" xmlns:tns="http://planning.ws">
            <xsd:complexType name="listOfFlights">
                <xsd:sequence>
                    <xsd:element name="count" type="xsd:int"></xsd:element>
                    <xsd:element name="flightInfo" type="tns:FlightInformation" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="FlightInformation">
                <xsd:sequence maxOccurs="1" minOccurs="1">
                    <xsd:element name="bookingNumber" type="xsd:int"></xsd:element>
                    <xsd:element name="price" type="xsd:double"></xsd:element>
                    <xsd:element name="airlineReservationService" type="xsd:string"></xsd:element>
                    <xsd:element name="flight" type="tns:Flight"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Flight">
                <xsd:sequence>
                    <xsd:element name="startAirport" type="xsd:string"></xsd:element>
                    <xsd:element name="endAirport" type="xsd:string"></xsd:element>
                    <xsd:element name="liftOff" type="xsd:date"></xsd:element>
                    <xsd:element name="landing" type="xsd:date"></xsd:element>
                    <xsd:element name="carrier" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="creditCardInformation">
                <xsd:sequence>
                    <xsd:element name="holder" type="xsd:string"></xsd:element>
                    <xsd:element name="creditCardNumber" type="xsd:int"></xsd:element>
                    <xsd:element name="expirationDate" type="tns:expirationDateType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookFlightFaultMsg" type="xsd:string"></xsd:element>
            <xsd:element name="cancelFlightFaultMsg" type="xsd:string"></xsd:element>
            <xsd:complexType name="FlightInformations">
                <xsd:sequence>
                    <xsd:element name="flightInformation" type="tns:FlightInformation" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="expirationDateType">
                <xsd:sequence>
                    <xsd:element name="month" type="xsd:int"></xsd:element>
                    <xsd:element name="year" type="xsd:int"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="createItineraryRequest">
        <part name="customerID" type="xsd:int"/>
        <part name="itineraryID" type="xsd:int"/>
    </message>
    <message name="createItineraryResponse">
        <part name="getFlightCount" type="xsd:int"/>
        <part name="addFlightCount" type="xsd:int"/>
    </message>
    <message name="addFlightRequest">
        <part name="flightInfo" type="tns:FlightInformation"/>
        <part name="customerID" type="xsd:int"/>
        <part name="itineraryID" type="xsd:int"/>
    </message>
    <message name="addFlightResponse"/>
    <message name="getFlightsRequest">
        <part name="customerID" type="xsd:int"/>
        <part name="itineraryID" type="xsd:int"/>
    </message>
    <message name="getFlightResponse">
        <part name="flights" type="tns:listOfFlights"/>
    </message>
    <message name="bookAllRequest">
        <part name="customerID" type="xsd:int"/>
        <part name="itineraryID" type="xsd:int"/>
    </message>
    <message name="bookAllResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <portType name="planningPortType">
        <operation name="createItinerary">
            <input name="input1" message="tns:createItineraryRequest"/>
            <output name="output1" message="tns:createItineraryResponse"/>
        </operation>
        <operation name="addFlight">
            <input name="input2" message="tns:addFlightRequest"/>
            <output name="output2" message="tns:addFlightResponse"/>
        </operation>
        <operation name="getFlights">
            <input name="input3" message="tns:getFlightsRequest"/>
            <output name="output3" message="tns:getFlightResponse"/>
        </operation>
        <operation name="bookAll">
            <input name="input4" message="tns:bookAllRequest"/>
            <output name="output4" message="tns:bookAllResponse"/>
        </operation>
    </portType>
    <binding name="planningBinding" type="tns:planningPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createItinerary">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://planning.ws"/>
            </output>
        </operation>
    </binding>
    <service name="planningService">
        <port name="planningPort" binding="tns:planningBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/planningService/planningPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="planning">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes.
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="planningPortTypeRole" portType="tns:planningPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="ItineraryID" type="xsd:int"/>
    <vprop:propertyAlias propertyName="tns:ItineraryID" messageType="tns:createItineraryRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:ItineraryID" messageType="tns:addFlightRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:ItineraryID" messageType="tns:bookAllRequest" part="itineraryID"/>
    <vprop:propertyAlias propertyName="tns:ItineraryID" messageType="tns:getFlightsRequest" part="itineraryID"/>
    <vprop:property name="CustomerID" type="xsd:int"/>
    <vprop:propertyAlias propertyName="tns:CustomerID" messageType="tns:createItineraryRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:CustomerID" messageType="tns:addFlightRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:CustomerID" messageType="tns:bookAllRequest" part="customerID"/>
    <vprop:propertyAlias propertyName="tns:CustomerID" messageType="tns:getFlightsRequest" part="customerID"/>
</definitions>






