code/TravelGoodBPELTest/xml-resources/web-service-references/TravelGoodPort/wsdl/localhost_8080/LameDuck/LameDuckService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xs:schema xmlns:tns="urn://types.lameduck.dtu.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="urn://types.lameduck.dtu.ws/">

<xs:element name="bookFault" type="xs:string"/>

<xs:element name="cancelFault" type="xs:string"/>

<xs:complexType name="flightInformation">
<xs:sequence>
<xs:element name="flight" type="tns:flight"/>
<xs:element name="price" type="xs:int"/>
<xs:element name="bookingNo" type="xs:string"/>
<xs:element name="reservationSevice" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flight">
<xs:sequence>
<xs:element name="origin" type="xs:string"/>
<xs:element name="destination" type="xs:string"/>
<xs:element name="liftOff" type="xs:dateTime"/>
<xs:element name="arrival" type="xs:dateTime"/>
<xs:element name="carrier" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightList">
<xs:sequence>
<xs:element name="flights" type="tns:flightInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>