02267/code/TravelGoodBPELTest/xml-resources/web-service-references/TravelGoodPort/wsdl/localhost_8080/NiceView/NiceViewService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://types.niceview.dtu.ws/" targetNamespace="urn://types.niceview.dtu.ws/" elementFormDefault="qualified">
    <xsd:complexType name="hotelInformation">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="address" type="tns:address"/>
            <xsd:element name="bookingNo" type="tns:hotelBookingNo"/>
            <xsd:element name="price" type="xsd:double"/>
            <xsd:element name="ccRequired" type="xsd:boolean"/>
            <xsd:element name="reservationService" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="address">
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="streetAddress" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="hotelList">
        <xsd:sequence>
            <xsd:element name="hotels" type="tns:hotelInformation" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="fault" type="xsd:string"/>
    <xsd:simpleType name="hotelBookingNo">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>